mixin textField(options)
  if options.state
    p(class="text-field__state")= options.state
  else
  if options.title
    label(class="text-field__title" for="text-field")= options.title
  else
  input(type="text" name="text" id=`${options.id || ""}` 
  class=`text-field__input${options.margin || ""}${options.color || ""}` 
  placeholder=options.placeholder || "Email")