mixin textField(options)

  div(class=`text-field${options.margin || ""}`)
    if options.state
      p(class="text-field__state")= options.state
    else
    if options.title
      label(class="text-field__title" for="text-field")= options.title
    else
    input(type="text" name="text" id="text-field" class=`text-field__input${options.color || ""}` 
    placeholder=options.placeholder || "Email")