mixin rating(options)
  div(class=`rate-button__group${options.margin || ""}`)
    each val, index in options.arr
      if val.checked
        input(class="rate-button__input" type="radio" name=options.name 
        id=options.name + ("-" + (index + 1)) value=index + 1 checked)
      else
        input(class="rate-button__input" type="radio" name=options.name 
        id=options.name + ("-" + (index + 1)) value=index + 1)
      label(class="rate-button__label" for=options.name + ("-" + (index + 1)) aria-label=val.aria)