mixin roomDetails(options)
  div(class=`room-details${options.margin || ""}`)
    each val in options.arr
      div(class=`room-details__group${options.margin || ""}`)
        div(class=`room-details__img${val.img || ""}`)
        div(class=`room-details__wrap-text`)
          p(class="room-details__title")= val.title
          p(class="room-details__descr")= val.descr
        if val.hr
          hr(class=`room-details__hr`)
        else