mixin checkbox(options)
  label.checkbox__label(for=`${options.id || "checkbox"}`)
    if options.checked
      input(class="checkbox__input" type="checkbox" name=`${options.id || "checkbox"}` 
      value=`${options.value || "checkbox"}` id=`${options.id || "checkbox"}` checked)
    else
      input(class="checkbox__input" type="checkbox" name=`${options.id || "checkbox"}` 
      value=`${options.value || "checkbox"}` id=`${options.id || "checkbox"}`)
    if options.description
      span(class=`checkbox__span${options.title || ""}`)= options.text
      span(class=`checkbox__description${options.descWidth || ""}`)= options.description
    else
      span(class=`checkbox__span${options.title || ""}`)= options.text