mixin formReserve(options)
  form(class=`form${options.margin || ""}` action="#" method="POST")
    p(class=`form-reserve-title${options.marginTitle || ""}`)
      span(class=`form-title__number${options.lux || ""}`)= 888
      span(class="form-title__price")= "9 990₽"
    +dateDropdown({margin: " text-field text-field_margin_bottom_20", id1: "dateDropFrom2", id2: "dateDropTo2", 
    title1: "Прибытие", title2: "Выезд", value1: "19.08.2019", value2: "23.08.2019"})
    +dropdown({margin: " radio_margin_bottom_20", id: "guest", color: " dropdown__input_color", 
    title: "Гости", windowWidth: " dropdown-window_width_max", 
    value: "3 гостя", arrName: ["0 Взрослые", "0 Дети", "0 Младенцы"]})
    div(class="form-reserve-calc")
      p(class="form-reserve-calc-text")
        span(class="form-reserve-calc-text__left")= "9 990₽ х 4 суток"
        span(class="form-reserve-calc-text__right")= "39 960₽"
      p(class="form-reserve-calc-text")
        span(class="form-reserve-calc-text__left")= "Сбор за услуги: скидка 2 179₽"
          span(class="form-reserve-calc-text__i")= "i"
        span(class="form-reserve-calc-text__right")= "0₽"
      p(class="form-reserve-calc-text form-reserve-calc-text_margin_bottom_30")
        span(class="form-reserve-calc-text__left")= "Сбор за дополнительные услуги"
          span(class="form-reserve-calc-text__i")= "i"
        span(class="form-reserve-calc-text__right")= "300₽"
      p(class="form-reserve-calc-text form-reserve-calc-text_bold")
        span(class="form-reserve-calc-text__left form-reserve-calc-text__left_bg_white")= "Итого"
        span(class="form-reserve-calc-text__right form-reserve-calc-text__right_bg_white")= "38 081₽"
    +buttonL({text: "Забронировать"})