mixin radioButtons(options)
  duv(class=`radio${options.margin || ""}`)
    if options.title
      p(class=`text-field__title${options.marginTitle || ""}`)= options.title
    else
    label(class=`radio__label${options.labelMargin || ""}` for=`${options.id1 || "radio1"}`)
      input(class="radio__input" type="radio" name="radio" value="radio-man" 
      id=`${options.id1 || "radio1"}` checked)
      span.radio__span Мужчина
    label(class=`radio__label${options.labelMargin || ""}` for=`${options.id2 || "radio2"}`)
      input(class="radio__input" type="radio" name="radio" value="radio-woman" 
      id=`${options.id2 || "radio2"}`)
      span.radio__span Женщина