mixin dropdown(options)

  .dropdown
    if options.state
      p(class="dropdown__state")= options.state
    else
    if options.title
      label(class="dropdown__title" for="dropdown")= options.title
    else
    input(type="text" name="dropdown" id="dropdown" class=`dropdown__input${options.color || ""}` 
    value=options.value || "Email")
    .dropdown-window.dropdown-window_display_none
      each val, index in ["Взрослые", "Дети", "Младенцы"]
        .dropdown-window__wrap-elem
          p.dropdown-window__name= val
          .dropdown-window__wrap-value
            span(class="dropdown-window__decrement") -
            span.dropdown-window__value 0
            span(class="dropdown-window__increment dropdown-window__increment_active") +
      p.dropdown-window__clear очистить      
      p.dropdown-window__apply применить