mixin dropdown(options)

  div(class=`dropdown${options.margin || ""}${options.width || ""}`)
    if options.state
      p(class="dropdown__state")= options.state
    else
    if options.title
      label(class="dropdown__title" for=options.id)= options.title
    else
    input(class=`dropdown__input${options.color || ""}${options.widthInput || ""}` 
    type="text" name="dropdown" id=options.id value=options.value || "Email")
    div(class=`dropdown-window dropdown-window_display_none${options.windowWidth || ""}${options.windowDisplay || ""}` id=`drop_${options.id}`)
      each val, index in options.arrName
        .dropdown-window__wrap-elem
          - let [n, word1, word2] = val.split(" ")
          p.dropdown-window__name= word1 + (word2 ? " " + word2 : "")
          .dropdown-window__wrap-value
            if n > 0
              span(class="dropdown-window__decrement dropdown-window__decrement_active") -
            else
              span(class="dropdown-window__decrement") -
            span(class="dropdown-window__value" id=index + options.id)= n
            span(class="dropdown-window__increment dropdown-window__increment_active") +
      if options.id === "guest"
        p(class=`dropdown-window__clear${options.clearDisplay ? " dropdown-window__clear_display_block" : ""}`) очистить      
        p.dropdown-window__apply применить